*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
  }
  
  body{
    min-height: 100vh;
  }
  header .logo img{
    height: 60px;
    border-radius: 20%;
  }
  .section-main{
    position:relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(74, 195, 114, 0.8), rgba(0,0,0,0.1)), 
    url(fondo.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
  }
  
  .section-main h1{
    color:  #f7faf8;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
    
  }
  
  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6s;
  }
  
  header.down{
    background: rgba(74, 195, 114, 0.8);
    padding: 15px 80px;
  }
  
  header .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 20%;
  }
  
  header .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .menu ul li{
      list-style: none;
  }
  
  header .menu a{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color;
  }
  
  header .menu a:hover{
    color: #000;
    background: #fff;
  }
  
  .titulos, h2{
    height: 15%;
    font-size: 30px;
}
  
  main, section{
    height: 100vh;
    background-color: #d3f1d3;
    background-size: cover;
    background-position: center center;
    font-size: 20px;
    text-align: center;
    padding-top: 130px;
    line-height: 1.5em;
  }

  main ul li{
    list-style: none;
  }

  main ul li a{
    list-style: none;
  }

  header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 991px){
    header, header.down{
        padding: 20px 40px;
    }
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: rgba(74, 195, 114, 0.8);
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    header .menu ul{
        flex-direction: column;
      }
  
    header .menu.active{
      right: 0;
    }
  
    header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
  }
  
  @media (max-width: 600px){
    .section-main h1{
      font-size: 50px;
      line-height: 60px;
    }

    header .menu{
        right: -120%;
      }
  }